<div class="principal">
  <div class="expanded row">
    <div class="presentacion">
      <div class="img">
        <img class="" src="../app/img/v3/nuevo/nosotros2.jpg" alt="Owl Image">
      </div>
    </div>
  </div>
</div>

<div class="expanded row nosotros">

  <div class="row">
      <div class="medium-10 medium-centered columns animation-element bounce-up">
        <p class="title">
          <i class="mdi mdi-book-open"></i> Historia
        </p>
        <div class="row">
          <div class="small-3 small-centered columns" style="border-bottom: 3px solid #CC9029;"></div>
        </div>
        <p class="description">
          Ser una asociación con presencia a nivel nacional en la producción de cerveza artesanal e insumos para su elaboración de calidad, promoviendo la unión y apoyo de todos los cerveceros michoacanos, que fomenten la cultura de consumo responsable y aporte al crecimiento económico y turístico del estado de Michoacán.
        </p>
      </div>
  </div>
</div>
