<div class="principal">
  <div class="expanded row">
    <div class="presentacion">
      <div class="text">
        <div class="animation-element slide-right">
          <h1>
            La Valiente
          </h1>
          <h3 align="center"><span class="letra">A</span>l chile... las cosas como son</h3>
        </div>
        <span class="tiny secondary hollow button animation-element slide-left">
          <i class="mdi mdi-arrow-right"></i> más sobre nosotros... <i class="mdi mdi-arrow-left"></i>
        </span>
      </div>
      <div class="img">
        <img src="../app/img/v3/nuevo/fondo-2.jpg" alt="" />
      </div>
    </div>
  </div>
  <br>

  <div class="row home "  data-equalize-on="medium" data-events="resize">
    <div class="medium-6 columns">
      <div class="callout foo" data-equalizer-watch="" >
        <p class="title animation-element bounce-up">
          <i class="mdi mdi-worker"></i> Misión
        </p>
        <div class="row">
          <div class="small-3 small-centered columns" style="border-bottom: 5px solid #CC9029;"></div>
        </div>
        <p class="description animation-element slide-left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="callout bar animation-element bounce-up" data-equalizer-watch="">
        <a [routerLink]="['/Contacto']" >
          <img class="" src="../app/img/v3/nuevo/logo.png" alt="Owl Image">
        </a>
      </div>
    </div>
  </div>

  <div class="row home2"  data-equalize-on="medium" id="test-eq" data-events="resize">
    <div class="medium-6 medium-centered columns">
      <div class="callout" data-equalizer-watch="" >
        <p class="title">
          Visión <i class="mdi mdi-trophy-award"></i>
        </p>
        <div class="row">
          <div class="small-3 small-centered columns" style="border-bottom: 5px solid #CC9029;"></div>
        </div>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
  <div class="row home"  data-equalize-on="medium" data-events="resize">
    <div class="medium-6 columns">
      <div class="callout bar animation-element bounce-up" data-equalizer-watch="">
        <a [routerLink]="['/Contacto']" >
          <img class="" src="../app/img/v3/nuevo/logo.png" alt="Owl Image">
        </a>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="callout foo" data-equalizer-watch="" >
        <p class="title animation-element bounce-up">
          <i class="mdi mdi-leaf"></i> Valores
        </p>
        <div class="row">
          <div class="small-3 small-centered columns" style="border-bottom: 5px solid #CC9029;"></div>
        </div>
        <p class="description animation-element slide-left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
  <br><br>
</div>
