<div class="principal">
  <div class="expanded row">
    <div class="presentacion">
      <img class="show-for-large" src="../app/img/v3/extra/Lay1.jpg" alt="Owl Image">
      <img class="show-for-medium-only" src="../app/img/v3/mediano/Lay1.jpg" alt="Owl Image">
      <img class="show-for-small-only" src="../app/img/v3/small/Lay1.jpg" alt="Owl Image">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="small-3 small-centered columns" style="border-bottom: 5px solid #CC9029;"></div>
  </div>
  <div class="expanded row home3">
    <div class="row">
      <div class="small-6 small-centered">
        <h2>Asociados</h2>
      </div>
    </div>
    <div id="owl-demo-home" class="owl-demo">
      <div class="item" *ngFor="#asociado of getAsociados | async">
        <a [routerLink]="['/Asociado',{id: asociado.id}]" >
          <img src="../app/img/{{asociado.logo}}" alt="" />
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="small-3 small-centered columns" style="border-bottom: 5px solid #CC9029;"></div>
  </div>
  <div class="expanded row small-up-1 medium-up-2 large-up-3 home" data-equalizer data-equalize-by-row="true">

    <div class="columns" data-equalizer-watch="" style="">
      <div class="row">
        <a [routerLink]="['/Nosotros']" >
          <img class="show-for-large" src="../app/img/v3/grande/Lay10.jpg" alt="Owl Image">
          <img class="show-for-medium-only" src="../app/img/v3/mediano/Lay10.jpg" alt="Owl Image">
          <img class="show-for-small-only" src="../app/img/v3/small/Lay10.jpg" alt="Owl Image">
        </a>
      </div>
      <div class="row">
        <p class="title">
          Nosotros
        </p>
      </div>
    </div>

    <div class="columns" data-equalizer-watch="" style="">
      <div class="row">
        <a [routerLink]="['/Asociados']" >
          <img class="show-for-large" src="../app/img/v3/grande/Lay2.jpg" alt="Owl Image">
          <img class="show-for-medium-only" src="../app/img/v3/mediano/Lay2.jpg" alt="Owl Image">
          <img class="show-for-small-only" src="../app/img/v3/small/Lay2.jpg" alt="Owl Image">
        </a>
      </div>
      <div class="row">
        <p class="title">
          Asociados
        </p>
      </div>
    </div>

    <div class="columns" data-equalizer-watch="" >
      <div class="row">
          <a data-open="tienda">
            <img class="show-for-large" src="../app/img/v3/grande/Lay3.jpg" alt="Owl Image">
            <img class="show-for-medium-only" src="../app/img/v3/mediano/Lay3.jpg" alt="Owl Image">
            <img class="show-for-small-only" src="../app/img/v3/small/Lay3.jpg" alt="Owl Image">
          </a>
      </div>
      <div class="row">
        <p class="title">
          Tienda en linea
        </p>
      </div>
    </div>

  </div>
  <br><br>
  <div class="row">
    <div class="small-3 small-centered columns" style="border-bottom: 6px solid #CC9029;"></div>
  </div>
  <div class="expanded row small-up-1 medium-up-2 home2" data-equalizer data-equalize-by-row="true">
    <div class="columns" data-equalizer-watch="" style="">
      <div class="row">
        <a data-open="noticias">
          <img class="show-for-large" src="../app/img/v3/grande/Lay7.jpg" alt="Owl Image">
          <img class="show-for-medium-only" src="../app/img/v3/mediano/Lay7.jpg" alt="Owl Image">
          <img class="show-for-small-only" src="../app/img/v3/small/Lay7.jpg" alt="Owl Image">
        </a>
      </div>
      <div class="row">
        <p class="title">
          Noticias
        </p>
      </div>
    </div>
    <div class="columns" data-equalizer-watch="" style="">
      <div class="row">
        <a [routerLink]="['/Contacto']" >
          <img class="show-for-large" src="../app/img/v3/grande/Lay9.jpg" alt="Owl Image">
          <img class="show-for-medium-only" src="../app/img/v3/mediano/Lay9.jpg" alt="Owl Image">
          <img class="show-for-small-only" src="../app/img/v3/small/Lay9.jpg" alt="Owl Image">
        </a>
      </div>
      <div class="row">
        <p class="title">
          Contacto
        </p>
      </div>
    </div>
  </div>
</div>
<br><br>

<div class="reveal" id="tienda" data-reveal>
  <h1>Cerarmich</h1>
  <p class="lead">Gracias por vistarnos.</p>
  <p>Tienda en linea proximamente!</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="reveal" id="noticias" data-reveal>
  <h1>Cerarmich</h1>
  <p class="lead">Gracias por vistarnos.</p>
  <p>Blog proximamente!</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
