.data-oulet {
  font-family: 'PT Sans', sans-serif;
  background-image: linear-gradient(to bottom, #FFFFFF, #EBEBEB); }

@media only screen {
  .header .callout {
    background: none;
    border: none; }
  .header .menu a {
    padding-top: 1.1em;
    font-size: 1.4rem;
    font-family: 'PT Sans', sans-serif;
    color: #2D2D2D;
    text-transform: uppercase;
    border-bottom: 0.02em solid #C59C64; }
    .header .menu a:hover {
      border-bottom: 0.1em solid #CC9029; }
    .header .menu a i {
      padding-right: 1em; }
  .header .top-bar {
    background: none; }
    .header .top-bar ul {
      background: none; }
  .header .title-bar {
    border: 0px solid yellow;
    background: #896d46; }
    .header .title-bar .title-bar-left {
      padding-top: 18px;
      padding-left: 10px; }
      .header .title-bar .title-bar-left button {
        padding-left: 12px; }
  .principal {
    padding: 1em; }
    .principal .presentacion {
      width: 100%;
      height: auto;
      padding-left: 1.5em; }
    .principal .home3 {
      padding: 2em; }
      .principal .home3 .columns {
        height: 320px; }
      .principal .home3 h2 {
        font-size: 2.6rem;
        color: black;
        font-family: 'PT Sans', sans-serif; }
      .principal .home3 .owl-demo .item {
        margin: 1px; }
      .principal .home3 .owl-demo .item img {
        display: block;
        width: 100%;
        height: 35vh; }
  .home2 {
    padding: 2em;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75); }
    .home2 .columns {
      height: 320px; }
    .home2 p {
      text-align: center;
      font-size: 2.6rem;
      color: black;
      font-family: 'PT Sans', sans-serif; }
    .home2 img {
      border: 8px solid #EBEBEB;
      width: 100%;
      height: 30vh; }
  .home {
    padding: 2em; }
    .home .columns {
      height: 320px; }
    .home p {
      text-align: center;
      font-size: 2.6rem;
      color: black;
      font-family: 'PT Sans', sans-serif; }
    .home img {
      border: 8px solid #EBEBEB;
      width: 100%;
      height: 30vh; }
  .asociados .selector span {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.9rem;
    text-align: center;
    color: black;
    border-bottom: 3px solid #CC9029; }
  .asociados .asoc1 {
    padding: 0em; }
    .asociados .asoc1 .callout {
      border: none; }
    .asociados .asoc1 .name {
      padding: 2em 1em; }
      .asociados .asoc1 .name h3 {
        font-family: 'PT Sans', sans-serif;
        font-size: 1.9rem;
        text-align: center;
        color: black;
        border-bottom: 4px solid #CC9029; }
    .asociados .asoc1 .foo {
      border: 0px solid #EBEBEB;
      box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.75);
      height: auto; }
    .asociados .asoc1 .bar {
      height: auto; }
    .asociados .asoc1 img {
      width: 100%;
      height: 35vh; }
    .asociados .asoc1 .title {
      font-family: 'PT Sans', sans-serif;
      font-size: 1.9rem;
      text-align: center;
      color: black;
      border-bottom: 3px solid #CC9029; }
      .asociados .asoc1 .title i {
        font-size: 1.4rem; }
    .asociados .asoc1 .description {
      padding: 0.7em 0;
      text-align: justify;
      font-size: 1.1rem;
      font-weight: 200; }
      .asociados .asoc1 .description i {
        font-size: 1.4rem; }
    .asociados .asoc1 .descriptions {
      padding: 1.5em 0 0em 0em;
      font-size: 1.1rem;
      font-weight: 200; }
      .asociados .asoc1 .descriptions a {
        color: #281c08; }
        .asociados .asoc1 .descriptions a:hover {
          color: #CC9029; }
  .view a {
    color: #5e5303; }
    .view a:hover {
      color: #CC9029; }
  .view .button.hollow {
    border: 1px solid #5e5303;
    color: #5e5303; }
    .view .button.hollow:hover {
      border: 1px solid #CC9029;
      color: #CC9029; }
  .view .social span {
    cursor: pointer;
    font-size: 1rem; }
  .view .bar1 {
    padding: 1.5em;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    background-image: linear-gradient(to bottom, #FFFFFF, #fbfbfb); }
  .view .bar {
    height: 785; }
  .view .foo {
    padding: 1em;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75); }
    .view .foo h3 {
      font-family: 'PT Sans', sans-serif;
      font-size: 2rem;
      text-align: center;
      color: black;
      border-bottom: 4px solid #5e5303; }
      .view .foo h3 i {
        font-size: 1.4rem; }
    .view .foo p {
      padding: 1em;
      font-size: 1.1rem;
      color: #424242; }
      .view .foo p i {
        font-size: 1.6rem; }
    .view .foo .owl-demo .item {
      margin: 3px; }
    .view .foo .owl-demo .item img {
      display: block;
      width: 104px;
      height: 83px; }
  .view .imagen {
    width: auto;
    height: auto; }
  .view .grid-cerveza img {
    width: 64px;
    height: 43px; }
  .view .grid-cerveza-similar {
    padding: 0em 1em 0em 3em; }
    .view .grid-cerveza-similar .callout {
      border: none; }
    .view .grid-cerveza-similar img {
      width: 189px;
      height: 158px; }
  .nosotros {
    padding: 1em; }
    .nosotros .foo {
      padding: 1em;
      border: 0px solid #EBEBEB;
      box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.75); }
    .nosotros .title {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.3rem;
      text-align: center;
      color: black;
      border-bottom: 4px solid #CC9029; }
    .nosotros .description, .nosotros .descriptions {
      padding: 0.5em;
      font-family: 'PT Sans', sans-serif;
      font-size: 1.1rem;
      font-weight: 100; }
    .nosotros .description {
      text-align: justify; }
    .nosotros img {
      position: relative;
      left: 12%;
      border: 8px solid #EBEBEB;
      width: 70%;
      height: 40vh; }
  .formulario {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    padding: 2em 0; }
    .formulario span {
      padding: 0.5em;
      font-family: 'PT Sans', sans-serif;
      font-size: 1.1rem;
      font-weight: 200; }
    .formulario .ng-invalid.ng-dirty {
      border-left: 5px solid #FF4646; }
    .formulario .ng-valid.ng-dirty {
      border-left: 5px solid #5AAD5A; }
  .foot {
    border-top: 12px solid #d3d3d3;
    border-left: 12px solid #d3d3d3;
    padding: 1em; }
    .foot .redes li {
      display: inline; }
    .foot .redes img {
      width: 56px;
      height: 56px; }
    .foot .title {
      font-weight: 600;
      font-size: 1.3em;
      font-family: 'PT Sans', sans-serif; }
    .foot .description {
      font-weight: 500;
      font-family: 'PT Sans', sans-serif;
      padding-left: 1em; } }

/* Define mobile styles */
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/*@media only screen and (max-width: 40em) { } */
@media only screen and (min-width: 40.063em) {
  .header {
    border-top: 13px solid #EBEBEB; }
    .header .callout {
      height: 30vh; }
    .header .top-bar {
      background: none; }
      .header .top-bar ul {
        background: none; }
    .header .img {
      position: relative;
      width: 40vw;
      left: 7.5em;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75); }
    .header .menu {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 0em; }
      .header .menu a {
        font-size: 1.4rem;
        color: #2D2D2D;
        text-transform: uppercase;
        border-bottom: 0em solid #C59C64; }
        .header .menu a:hover {
          border-bottom: 3px solid #CC9029; }
  .principal {
    padding: 1.5em; }
    .principal .presentacion {
      width: 100%;
      height: auto;
      overflow: hidden; }
    .principal .home3 h2 {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.6rem;
      text-align: center;
      color: black;
      font-weight: 200; }
    .principal .home3 .owl-demo .item {
      margin: 3px; }
    .principal .home3 .owl-demo .item img {
      display: block;
      width: 100%;
      height: 30vh; }
  .home2 {
    padding: 2em;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75); }
    .home2 p {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.6rem;
      text-align: center;
      color: black;
      font-weight: 200; }
    .home2 .columns {
      height: 360px; }
    .home2 img {
      border: 8px solid #EBEBEB;
      width: 100%;
      height: 35vh; }
  .home {
    padding: 2em; }
    .home p {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.6rem;
      text-align: center;
      color: black;
      font-weight: 200; }
    .home .columns {
      height: 360px; }
    .home img {
      border: 8px solid #EBEBEB;
      width: 100%;
      height: 35vh; }
  .asociados .selector span {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.2rem;
    text-align: center;
    color: black;
    border-bottom: 4px solid #CC9029; }
  .asociados .asoc1 {
    padding: 0em; }
    .asociados .asoc1 .callout {
      border: none; }
    .asociados .asoc1 .name {
      padding: 3em 1em; }
      .asociados .asoc1 .name h3 {
        font-family: 'PT Sans', sans-serif;
        font-size: 2.2rem;
        text-align: center;
        color: black;
        border-bottom: 4px solid #CC9029; }
    .asociados .asoc1 .foo {
      border: 0px solid #EBEBEB;
      box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.75);
      height: 960px; }
    .asociados .asoc1 .bar1 {
      height: 480px; }
    .asociados .asoc1 .bar {
      height: 430px; }
    .asociados .asoc1 img {
      width: 100%;
      height: 40vh; }
    .asociados .asoc1 .title {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.1rem;
      text-align: center;
      color: black;
      border-bottom: 4px solid #CC9029; }
      .asociados .asoc1 .title i {
        font-size: 1.4rem; }
    .asociados .asoc1 .description {
      padding: 0.7em 0;
      text-align: justify;
      font-size: 1.2rem;
      font-weight: 200; }
      .asociados .asoc1 .description i {
        font-size: 1.6rem; }
    .asociados .asoc1 .descriptions {
      padding: 3em 0 0em 1em;
      font-size: 1.1rem;
      font-weight: 200; }
      .asociados .asoc1 .descriptions a {
        color: #281c08; }
        .asociados .asoc1 .descriptions a:hover {
          color: #CC9029; }
  .view a {
    color: #5e5303; }
    .view a:hover {
      color: #CC9029; }
  .view .button.hollow {
    border: 1px solid #5e5303;
    color: #5e5303; }
    .view .button.hollow:hover {
      border: 1px solid #CC9029;
      color: #CC9029; }
  .view .social span {
    cursor: pointer;
    font-size: 1rem; }
  .view .bar1 {
    padding: 1.5em;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    background-image: linear-gradient(to bottom, #FFFFFF, #fbfbfb); }
  .view .bar {
    height: 785; }
  .view .foo {
    padding: 1em;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75); }
    .view .foo h3 {
      font-family: 'PT Sans', sans-serif;
      font-size: 2rem;
      text-align: center;
      color: black;
      border-bottom: 4px solid #5e5303; }
      .view .foo h3 i {
        font-size: 1.4rem; }
    .view .foo p {
      padding: 1em;
      font-size: 1.1rem;
      color: #424242; }
      .view .foo p i {
        font-size: 1.6rem; }
    .view .foo .owl-demo .item {
      margin: 3px; }
    .view .foo .owl-demo .item img {
      display: block;
      width: 104px;
      height: 83px; }
  .view .imagen {
    width: auto;
    height: auto; }
  .view .grid-cerveza img {
    width: 64px;
    height: 43px; }
  .view .grid-cerveza-similar p {
    font-size: 0.8em;
    color: #424242; }
  .view .grid-cerveza-similar .callout {
    border: none; }
  .view .grid-cerveza-similar img {
    width: 189px;
    height: 108px; }
  .nosotros {
    padding: 1em; }
    .nosotros .foo {
      padding: 1em;
      border: 0px solid #EBEBEB;
      box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.75); }
    .nosotros .title {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.3rem;
      text-align: center;
      color: black;
      border-bottom: 4px solid #CC9029; }
    .nosotros .description, .nosotros .descriptions {
      padding: 0.5em;
      font-size: 1.1rem;
      font-weight: 200;
      font-family: 'PT Sans', sans-serif; }
    .nosotros .description {
      text-align: justify; }
    .nosotros img {
      position: relative;
      left: 0%;
      border: 8px solid #EBEBEB;
      width: 90%;
      height: 50vh; }
  .formulario {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    padding: 2em 0; }
    .formulario span {
      padding: 0.5em;
      font-family: 'PT Sans', sans-serif;
      font-size: 1.1rem;
      font-weight: 200; }
    .formulario .ng-invalid.ng-dirty {
      border-left: 5px solid #FF4646; }
    .formulario .ng-valid.ng-dirty {
      border-left: 5px solid #5AAD5A; }
  .foot {
    border-top: 12px solid #d3d3d3;
    border-left: 12px solid #d3d3d3;
    padding: 1em; }
    .foot .redes li {
      display: inline; }
    .foot .redes img {
      width: 56px;
      height: 56px; }
    .foot .title {
      font-weight: 600;
      font-size: 1.3em;
      font-family: 'PT Sans', sans-serif; }
    .foot .description {
      font-weight: 500;
      font-family: 'PT Sans', sans-serif;
      padding-left: 1em; } }

/* min-width 641px, medium screens */
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/*@media only screen and (min-width: 40.063em) and (max-width: 64em) { }*/
@media only screen and (min-width: 64.063em) {
  .header {
    border-top: 13px solid #EBEBEB; }
    .header .callout {
      height: 30vh; }
    .header .top-bar {
      background: none; }
      .header .top-bar ul {
        background: none; }
    .header .img {
      position: relative;
      left: 7.5em;
      width: 30vw;
      height: 30vh;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75); }
    .header .menu {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 1em; }
      .header .menu a {
        font-family: 'PT Sans', sans-serif;
        font-size: 1.7rem;
        color: #2D2D2D;
        text-transform: uppercase;
        border-bottom: 0em solid #C59C64; }
        .header .menu a:hover {
          border-bottom: 3px solid #CC9029; }
  .principal {
    padding: 1.5em; }
    .principal .presentacion {
      width: 100%;
      height: 60vh;
      overflow: hidden; }
      .principal .presentacion img {
        margin-top: -3em; }
    .principal .home3 h2 {
      font-size: 2.6rem;
      color: black;
      text-align: center;
      font-family: 'PT Sans', sans-serif; }
    .principal .home3 .owl-demo .item {
      margin: 3px; }
    .principal .home3 .owl-demo .item img {
      display: block;
      width: 100%;
      height: 35vh; }
  .home2 {
    padding: 2em;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75); }
    .home2 .columns {
      height: 360px; }
    .home2 img {
      border: 8px solid #EBEBEB;
      width: 100%;
      height: 40vh; }
  .home {
    padding: 2em; }
    .home .columns {
      height: 360px; }
    .home img {
      border: 8px solid #EBEBEB;
      width: 100%;
      height: 40vh; }
  .asociados .selector span {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.6rem;
    text-align: center;
    color: black;
    border-bottom: 4px solid #CC9029; }
  .asociados .asoc1 {
    padding: 2.7em; }
    .asociados .asoc1 .callout {
      border: none;
      background: none; }
    .asociados .asoc1 .name {
      padding: 4em 1em; }
      .asociados .asoc1 .name h3 {
        font-family: 'PT Sans', sans-serif;
        font-size: 2.6rem;
        text-align: center;
        color: black;
        border-bottom: 4px solid #CC9029;
        text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.4), 0px -5px 35px rgba(255, 255, 255, 0.4); }
        .asociados .asoc1 .name h3 i {
          font-size: 0.8em; }
    .asociados .asoc1 .foo {
      border: 0px solid #EBEBEB;
      background-image: linear-gradient(to bottom, #FFFFFF, #fbfbfb);
      box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.75);
      height: 960px; }
    .asociados .asoc1 .bar1 {
      height: 480px; }
    .asociados .asoc1 .bar {
      height: 430px; }
    .asociados .asoc1 img {
      width: 100%;
      height: 48vh; }
    .asociados .asoc1 .title {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.6rem;
      text-align: center;
      color: black;
      border-bottom: 4px solid #CC9029; }
      .asociados .asoc1 .title i {
        font-size: 1.4rem; }
    .asociados .asoc1 .description {
      padding: 1.5em;
      text-align: justify;
      font-size: 1.1rem;
      color: #424242; }
      .asociados .asoc1 .description i {
        font-size: 1.6rem; }
    .asociados .asoc1 .descriptions {
      padding: 3em 0 0em 3em;
      font-size: 1.4rem;
      font-weight: 200; }
      .asociados .asoc1 .descriptions a {
        color: #281c08; }
        .asociados .asoc1 .descriptions a:hover {
          color: #CC9029; }
  .view a {
    color: #5e5303; }
    .view a:hover {
      color: #CC9029; }
  .view .button.hollow {
    border: 1px solid #5e5303;
    color: #5e5303; }
    .view .button.hollow:hover {
      border: 1px solid #CC9029;
      color: #CC9029; }
  .view .social span {
    cursor: pointer;
    font-size: 1rem; }
  .view .bar1 {
    padding: 1.5em;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    background-image: linear-gradient(to bottom, #FFFFFF, #fbfbfb); }
  .view .bar {
    height: 785; }
  .view .foo {
    padding: 1.5em;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75); }
    .view .foo h3 {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.2rem;
      text-align: center;
      color: black;
      border-bottom: 4px solid #5e5303; }
      .view .foo h3 i {
        font-size: 1.4rem; }
    .view .foo p {
      padding: 1.5em 1em 1em 2em;
      font-size: 1.1rem;
      color: #424242; }
      .view .foo p i {
        font-size: 1.6rem; }
    .view .foo .owl-demo .item {
      margin: 3px; }
    .view .foo .owl-demo .item img {
      display: block;
      width: 104px;
      height: 83px; }
  .view .imagen {
    width: 562px;
    height: 587px; }
  .view .grid-cerveza img {
    width: 104px;
    height: 83px; }
  .view .grid-cerveza-similar img {
    width: 189px;
    height: 108px; }
  .nosotros {
    padding: 1em; }
    .nosotros .foo {
      border: 0px solid #EBEBEB;
      box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.75); }
    .nosotros .title {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.6rem;
      text-align: center;
      color: black;
      border-bottom: 4px solid #CC9029; }
    .nosotros .description, .nosotros .descriptions {
      padding: 0.8em;
      font-size: 1.4rem;
      font-weight: 200; }
    .nosotros img {
      position: relative;
      border: 8px solid #EBEBEB;
      width: 85%;
      height: 75vh; }
  .formulario {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    padding: 2em 0; }
    .formulario span {
      padding: 0.5em;
      font-family: 'PT Sans', sans-serif;
      font-size: 1.1rem;
      font-weight: 200; }
    .formulario .ng-invalid.ng-dirty {
      border-left: 5px solid #FF4646; }
    .formulario .ng-valid.ng-dirty {
      border-left: 5px solid #5AAD5A; }
  .foot {
    border-top: 12px solid #d3d3d3;
    border-left: 12px solid #d3d3d3;
    padding: 1em; }
    .foot .redes li {
      display: inline; }
    .foot .redes img {
      width: 56px;
      height: 56px; }
    .foot .title {
      font-weight: 600;
      font-size: 1.3em;
      font-family: 'PT Sans', sans-serif; }
    .foot .description {
      font-weight: 500;
      font-family: 'PT Sans', sans-serif;
      padding-left: 1em; } }

/* min-width 1025px, large screens */
/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
/*@media only screen and (min-width: 64.063em) and (max-width: 90em) { } */
@media only screen and (min-width: 90.063em) {
  .header {
    border-top: 13px solid #EBEBEB; }
    .header .callout {
      height: 30vh; }
    .header .top-bar {
      background: none; }
      .header .top-bar ul {
        background: none; }
    .header .img {
      position: relative;
      left: 7.5em;
      width: 30vw;
      height: 30vh;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75); }
    .header .menu {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 1em; }
      .header .menu a {
        font-family: 'PT Sans', sans-serif;
        font-size: 1.7rem;
        color: #2D2D2D;
        text-transform: uppercase;
        border-bottom: 0em solid #C59C64; }
        .header .menu a:hover {
          border-bottom: 3px solid #CC9029; }
  .principal {
    padding: 1.5em; }
    .principal .presentacion {
      width: 100%;
      height: 60vh;
      overflow: hidden; }
      .principal .presentacion img {
        margin-top: -3em; }
    .principal .home3 h2 {
      font-size: 2.6rem;
      color: black;
      text-align: center;
      font-family: 'PT Sans', sans-serif; }
    .principal .home3 .owl-demo .item {
      margin: 3px; }
    .principal .home3 .owl-demo .item img {
      display: block;
      width: 100%;
      height: 35vh; }
  .home2 {
    padding: 2em;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75); }
    .home2 .columns {
      height: 360px; }
    .home2 img {
      border: 8px solid #EBEBEB;
      width: 100%;
      height: 40vh; }
  .home {
    padding: 2em; }
    .home .columns {
      height: 360px; }
    .home img {
      border: 8px solid #EBEBEB;
      width: 100%;
      height: 40vh; }
  .asociados .selector span {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.6rem;
    text-align: center;
    color: black;
    border-bottom: 4px solid #CC9029; }
  .asociados .asoc1 {
    padding: 2.7em; }
    .asociados .asoc1 .callout {
      border: none;
      background: none; }
    .asociados .asoc1 .name {
      padding: 4em 1em; }
      .asociados .asoc1 .name h3 {
        font-family: 'PT Sans', sans-serif;
        font-size: 2.6rem;
        text-align: center;
        color: black;
        border-bottom: 4px solid #CC9029;
        text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.4), 0px -5px 35px rgba(255, 255, 255, 0.4); }
        .asociados .asoc1 .name h3 i {
          font-size: 0.8em; }
    .asociados .asoc1 .foo {
      border: 0px solid #EBEBEB;
      background-image: linear-gradient(to bottom, #FFFFFF, #fbfbfb);
      box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.75);
      height: 960px; }
    .asociados .asoc1 .bar1 {
      height: 480px; }
    .asociados .asoc1 .bar {
      height: 430px; }
    .asociados .asoc1 img {
      width: 100%;
      height: 48vh; }
    .asociados .asoc1 .title {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.6rem;
      text-align: center;
      color: black;
      border-bottom: 4px solid #CC9029; }
      .asociados .asoc1 .title i {
        font-size: 1.4rem; }
    .asociados .asoc1 .description {
      padding: 1.5em;
      text-align: justify;
      font-size: 1.1rem;
      color: #424242; }
      .asociados .asoc1 .description i {
        font-size: 1.6rem; }
    .asociados .asoc1 .descriptions {
      padding: 3em 0 0em 3em;
      font-size: 1.4rem;
      font-weight: 200; }
      .asociados .asoc1 .descriptions a {
        color: #281c08; }
        .asociados .asoc1 .descriptions a:hover {
          color: #CC9029; }
  .view a {
    color: #5e5303; }
    .view a:hover {
      color: #CC9029; }
  .view .button.hollow {
    border: 1px solid #5e5303;
    color: #5e5303; }
    .view .button.hollow:hover {
      border: 1px solid #CC9029;
      color: #CC9029; }
  .view .social span {
    cursor: pointer;
    font-size: 1rem; }
  .view .bar1 {
    padding: 1.5em;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    background-image: linear-gradient(to bottom, #FFFFFF, #fbfbfb); }
  .view .bar {
    height: 785; }
  .view .foo {
    padding: 1.5em;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75); }
    .view .foo h3 {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.2rem;
      text-align: center;
      color: black;
      border-bottom: 4px solid #5e5303; }
      .view .foo h3 i {
        font-size: 1.4rem; }
    .view .foo p {
      padding: 1.5em 1em 1em 2em;
      font-size: 1.1rem;
      color: #424242; }
      .view .foo p i {
        font-size: 1.6rem; }
    .view .foo .owl-demo .item {
      margin: 3px; }
    .view .foo .owl-demo .item img {
      display: block;
      width: 104px;
      height: 83px; }
  .view .imagen {
    width: 562px;
    height: 587px; }
  .view .grid-cerveza img {
    width: 104px;
    height: 83px; }
  .view .grid-cerveza-similar img {
    width: 189px;
    height: 108px; }
  .nosotros {
    padding: 1em; }
    .nosotros .foo {
      border: 0px solid #EBEBEB;
      box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.75); }
    .nosotros .title {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.6rem;
      text-align: center;
      color: black;
      border-bottom: 4px solid #CC9029; }
    .nosotros .description, .nosotros .descriptions {
      padding: 0.8em;
      font-size: 1.4rem;
      font-weight: 200; }
    .nosotros img {
      position: relative;
      border: 8px solid #EBEBEB;
      width: 85%;
      height: 75vh; }
  .formulario {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    padding: 2em 0; }
    .formulario span {
      padding: 0.5em;
      font-family: 'PT Sans', sans-serif;
      font-size: 1.1rem;
      font-weight: 200; }
    .formulario .ng-invalid.ng-dirty {
      border-left: 5px solid #FF4646; }
    .formulario .ng-valid.ng-dirty {
      border-left: 5px solid #5AAD5A; }
  .foot {
    border-top: 12px solid #d3d3d3;
    border-left: 12px solid #d3d3d3;
    padding: 1em; }
    .foot .redes li {
      display: inline; }
    .foot .redes img {
      width: 56px;
      height: 56px; }
    .foot .title {
      font-weight: 600;
      font-size: 1.3em;
      font-family: 'PT Sans', sans-serif; }
    .foot .description {
      font-weight: 500;
      font-family: 'PT Sans', sans-serif;
      padding-left: 1em; } }

/* min-width 1441px, xlarge screens */
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
/*@media only screen and (min-width: 90.063em) and (max-width: 120em) { } */
@media only screen and (min-width: 120.063em) {
  .header {
    border-top: 13px solid #EBEBEB; }
    .header .callout {
      height: 30vh; }
    .header .top-bar {
      background: none; }
      .header .top-bar ul {
        background: none; }
    .header .img {
      position: relative;
      left: 7.5em;
      width: 30vw;
      height: 30vh;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75); }
    .header .menu {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 1em; }
      .header .menu a {
        font-family: 'PT Sans', sans-serif;
        font-size: 1.7rem;
        color: #2D2D2D;
        text-transform: uppercase;
        border-bottom: 0em solid #C59C64; }
        .header .menu a:hover {
          border-bottom: 3px solid #CC9029; }
  .principal {
    padding: 1.5em; }
    .principal .presentacion {
      width: 100%;
      height: 60vh;
      overflow: hidden; }
      .principal .presentacion img {
        margin-top: -3em; }
    .principal .home3 h2 {
      font-size: 2.6rem;
      color: black;
      text-align: center;
      font-family: 'PT Sans', sans-serif; }
    .principal .home3 .owl-demo .item {
      margin: 3px; }
    .principal .home3 .owl-demo .item img {
      display: block;
      width: 100%;
      height: 35vh; }
  .home2 {
    padding: 2em;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75); }
    .home2 .columns {
      height: 360px; }
    .home2 img {
      border: 8px solid #EBEBEB;
      width: 100%;
      height: 40vh; }
  .home {
    padding: 2em; }
    .home .columns {
      height: 360px; }
    .home img {
      border: 8px solid #EBEBEB;
      width: 100%;
      height: 40vh; }
  .asociados .selector span {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.6rem;
    text-align: center;
    color: black;
    border-bottom: 4px solid #CC9029; }
  .asociados .asoc1 {
    padding: 2.7em; }
    .asociados .asoc1 .callout {
      border: none;
      background: none; }
    .asociados .asoc1 .name {
      padding: 4em 1em; }
      .asociados .asoc1 .name h3 {
        font-family: 'PT Sans', sans-serif;
        font-size: 2.6rem;
        text-align: center;
        color: black;
        border-bottom: 4px solid #CC9029;
        text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.4), 0px -5px 35px rgba(255, 255, 255, 0.4); }
        .asociados .asoc1 .name h3 i {
          font-size: 0.8em; }
    .asociados .asoc1 .foo {
      border: 0px solid #EBEBEB;
      background-image: linear-gradient(to bottom, #FFFFFF, #fbfbfb);
      box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.75);
      height: 960px; }
    .asociados .asoc1 .bar1 {
      height: 480px; }
    .asociados .asoc1 .bar {
      height: 430px; }
    .asociados .asoc1 img {
      width: 100%;
      height: 48vh; }
    .asociados .asoc1 .title {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.6rem;
      text-align: center;
      color: black;
      border-bottom: 4px solid #CC9029; }
      .asociados .asoc1 .title i {
        font-size: 1.4rem; }
    .asociados .asoc1 .description {
      padding: 1.5em;
      text-align: justify;
      font-size: 1.1rem;
      color: #424242; }
      .asociados .asoc1 .description i {
        font-size: 1.6rem; }
    .asociados .asoc1 .descriptions {
      padding: 3em 0 0em 3em;
      font-size: 1.4rem;
      font-weight: 200; }
      .asociados .asoc1 .descriptions a {
        color: #281c08; }
        .asociados .asoc1 .descriptions a:hover {
          color: #CC9029; }
  .view a {
    color: #5e5303; }
    .view a:hover {
      color: #CC9029; }
  .view .button.hollow {
    border: 1px solid #5e5303;
    color: #5e5303; }
    .view .button.hollow:hover {
      border: 1px solid #CC9029;
      color: #CC9029; }
  .view .social span {
    cursor: pointer;
    font-size: 1rem; }
  .view .bar1 {
    padding: 1.5em;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    background-image: linear-gradient(to bottom, #FFFFFF, #fbfbfb); }
  .view .bar {
    height: 785; }
  .view .foo {
    padding: 1.5em;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75); }
    .view .foo h3 {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.2rem;
      text-align: center;
      color: black;
      border-bottom: 4px solid #5e5303; }
      .view .foo h3 i {
        font-size: 1.4rem; }
    .view .foo p {
      padding: 1.5em 1em 1em 2em;
      font-size: 1.1rem;
      color: #424242; }
      .view .foo p i {
        font-size: 1.6rem; }
    .view .foo .owl-demo .item {
      margin: 3px; }
    .view .foo .owl-demo .item img {
      display: block;
      width: 104px;
      height: 83px; }
  .view .imagen {
    width: 562px;
    height: 587px; }
  .view .grid-cerveza img {
    width: 104px;
    height: 83px; }
  .view .grid-cerveza-similar img {
    width: 189px;
    height: 108px; }
  .nosotros {
    padding: 1em; }
    .nosotros .foo {
      border: 0px solid #EBEBEB;
      box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.75); }
    .nosotros .title {
      font-family: 'PT Sans', sans-serif;
      font-size: 2.6rem;
      text-align: center;
      color: black;
      border-bottom: 4px solid #CC9029; }
    .nosotros .description, .nosotros .descriptions {
      padding: 0.8em;
      font-size: 1.4rem;
      font-weight: 200; }
    .nosotros img {
      position: relative;
      border: 8px solid #EBEBEB;
      width: 85%;
      height: 75vh; }
  .formulario {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    padding: 2em 0; }
    .formulario span {
      padding: 0.5em;
      font-family: 'PT Sans', sans-serif;
      font-size: 1.1rem;
      font-weight: 200; }
    .formulario .ng-invalid.ng-dirty {
      border-left: 5px solid #FF4646; }
    .formulario .ng-valid.ng-dirty {
      border-left: 5px solid #5AAD5A; }
  .foot {
    border-top: 12px solid #d3d3d3;
    border-left: 12px solid #d3d3d3;
    padding: 1em; }
    .foot .redes li {
      display: inline; }
    .foot .redes img {
      width: 56px;
      height: 56px; }
    .foot .title {
      font-weight: 600;
      font-size: 1.3em;
      font-family: 'PT Sans', sans-serif; }
    .foot .description {
      font-weight: 500;
      font-family: 'PT Sans', sans-serif;
      padding-left: 1em; } }

/* min-width 1921px, xxlarge screens */
